


:root{

    font-size: 16px;
}


body{
    overflow-x:hidden;


}
.container-fluid li a{
    font-size: 1rem;

}
.container-fluid a{
    font-size: 1.2rem;

}

.container-fluid form input{
    font-size: 1rem;

}

.cards-container {
    display: flex;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    gap: 20px;
    padding-top: 4% ;
    background-color:rgb(130, 143, 117);
    align-items: center;
    /* max-width: 100%; */
    flex-direction: column;
    width:100%;
    margin: 0%;


}
.card {
    border: 2px solid #ccc;
    padding: 6%;
    padding-top: 0%;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius:4%;
    font-size: 1rem;
}

.modal-content{


    font-size: 0.8rem;

}

.card img {
    max-width: 95%;
    height: 95%;
    max-height: 200px;
}

.card button{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-top: 10%;
    background-color:rgb(139, 177, 102);

}

.card button:hover{

    background-color:rgb(129, 198, 59);

}



h2{
    font-size: 1.2rem;
}

header {
    background-image: url("../Images/bgPic.png");
    background-size: cover;
    background-position: center;
    color: black;
    font-weight: bolder;
    text-align: center;
    max-width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;

}




h1 {
    font-size: 1.2rem;
}















@media screen and (min-width: 768px) {

    :root{
        font-size: 22px;
    }

    h1{
        font-size: 1.5rem;

    }



    header {
        width: 105vw;

    }



    .container-fluid li a{
        font-size: 0.7rem;

    }
    .container-fluid a{
        font-size: 1.1rem;

    }

    .container-fluid form input{
        font-size: 0.7rem;

    }


    .container-fluid{
        margin-right: 2%;
    }
    .cards-container {
        padding-top: 2%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        padding: 4% ;
        background-color:rgb(130, 143, 117);


    }
    .card {
        border: 2px solid #ccc;
        padding: 6%;
        padding-top: 0%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        border-radius:4%;
        font-size: 0.8rem;
        height: 100%;
    }



    .modal-content{


        font-size: 0.8rem;

    }

    .card img {
        max-width: 95%;
        height: auto;
        max-height: 200px;
    }

    .card button{
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        margin-top: 10%;
        margin-right: 50%;
        background-color:rgb(139, 177, 102);

    }

    .card button:hover{

        background-color:rgb(129, 198, 59);

    }



    h2{
        font-size: 1rem;
    }

    header {
        background-image: url("../Images/bgPic.png");
        background-size: cover;
        background-position: center;
        color: black;
        font-weight: bolder;
        text-align: center;
        width: 100vw;
        height: 12rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }


    .header-content {
        max-width: 800px;
        margin: 0 auto;

    }

    h1 {
        font-size: 1.6rem;
    }

}



